:root {
  --bg1: #000;
  --bg2: #ccc;
  --bg3: #222;
  --bg4: #fff;
  --bg5: #616161;
  --bg6: #f1f1f1;
  --col1: #fff;
  --col2: #000;
  --col3: #757575;
  --opacity1: 0.6;
}
* {
  box-sizing: border-box;
  font-weight: 400;
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-size: 0.9375rem;
  background-color: var(--bg1);
  color: var(--col1);
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

nav a {
  color: var(--col1);
  font-size: 0.75rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.link-dark {
  opacity: var(--opacity1) !important;
}
nav a:hover,
.active {
  color: var(--col2);
  background-color: var(--bg2);
  opacity: 1 !important;
}

header img,
nav i {
  display: none !important;
}

main {
  padding: 0.75rem 1.5rem;
}

.center {
  text-align: center;
}

/* Hero Section */
#hero h1 {
  font-size: 4rem;
  margin: 1rem auto;
}
#hero .am {
  display: none;
}

/* About Section */
#about h2 {
  font-size: 1.875rem;
}
#about hr {
  width: 12.5rem;
  margin-left: 0;
  opacity: var(--opacity1);
}

#about p,
#skills h4 {
  color: var(--col3);
}

#about p {
  text-align: justify;
}
#skills h3 {
  font-size: 1.5rem;
}
#skills h4 {
  letter-spacing: 0.2rem;
}
#about .progress {
  height: 1.87rem;
  background-color: var(--bg4);
  margin-bottom: 0.5rem;
}
.progress-bar {
  background-color: var(--bg5);
  height: 100%;
}
.progress:first-of-type .progress-bar {
  width: 95%;
}
.progress:nth-of-type(2) .progress-bar {
  width: 85%;
}
.progress:nth-of-type(3) .progress-bar {
  width: 80%;
}

.pride {
  display: flex;
  flex-direction: column;
  background-color: var(--bg6);
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2rem auto;
  padding: 1rem;
}
.pride * {
  color: var(--col2) !important;
}
.rec {
  margin: 0.4688rem auto;
}
.rec h5 {
  font-size: 1.5rem;
  margin: 0;
}
.rec p {
  margin-top: 0;
}

#about button {
  padding: 0.75rem 1.5rem;
  font-size: 16px;
  cursor: pointer;
  user-select: none;
  margin-bottom: 0.4688rem;
  border: none;
  outline: none;
}
#about button:hover {
  background-color: var(--bg2);
}
#about button i {
  margin-right: 0.2rem;
}

@media screen and (min-width: 600px) {
  body {
    position: relative;
  }

  header {
    background-color: var(--bg3);
    height: 100vh;
    min-height: 500px;
    width: 130px;
    overflow: auto;
    position: fixed;
    left: 0;
    top: 0;
  }
  nav {
    min-height: 130px;

    height: 80%;
  }

  nav ul {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    height: 100%;
  }

  header img,
  nav i {
    display: block !important;
  }

  header img {
    height: 20%;
    max-height: 200px;
  }
  nav li {
    width: 100%;
    height: 22.5%;
  }

  nav a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 0.8rem;
  }
  .active,
  .link-dark-lg:hover {
    opacity: 1;
    background-color: var(--bg1) !important;
    color: var(--col1) !important;
  }
  nav a i {
    font-size: 2rem;
    margin-bottom: 0.3rem;
  }

  main {
    position: absolute;
    left: 150px;
  }

  .container {
    max-width: 80%;
    margin: 0 auto;
  }

  /* Hero Section */
  #hero .am {
    display: inline-block;
  }

  /* About Section */
  .pride {
    flex-direction: row;
    justify-content: space-between;
  }
}
